<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <head>
    <title>Mypage</title>
    <link rel="stylesheet" type="text/css" href="css/button.css"></link>
  </head>
  <body>
    <h1>MyPage</h1>
    <div style="text-align:right">
        <a href="/mypage_info"> <button type = "button"  class="btn_order" style="margin:10px;">내정보 보기</button></a>
        <a href="/mypage_button"> <button type = "button"  class="btn_order" style="margin:10px;">사용통계 보기</button></a>
        <a href="/mypage/download"> <button type = "button"  class="btn_order" style="margin:10px;">Download</button></a>

      </div>
  </body>
</html>
